name: daily-master
run-name: Daily master build

permissions:
  contents: write

on:
  push:
    branches:
      - 'dev-*'
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:

  prepare-docker:
    uses: ./.github/workflows/_prepare-docker.yml
    with:
      arch: ${{ matrix.arch }}
    secrets:
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
    strategy:
      matrix:
        arch:
          - x86_64
          - aarch64

  setup-vars:
    runs-on: ubuntu-latest
    steps:
      - name: Setup vars
        id: setup-vars
        run: |
          echo datetimestr=$(date +%Y%m%d-%H%M) >> $GITHUB_OUTPUT
    outputs:
      datetimestr: ${{ steps.setup-vars.outputs.datetimestr }}

  build-emacs:
    needs:
      - prepare-docker
      - setup-vars

    strategy:
      matrix:
        build_gui:
          - x11
          - pgtk
          - nox
        arch:
          - x86_64
          - aarch64

    uses: ./.github/workflows/_build-emacs.yml
    with:
      name: master
      arch: ${{ matrix.arch }}
      branch: master
      build_gui: ${{ matrix.build_gui }}
      build_native_comp: aot
      do_test: ${{ matrix.arch == 'x86_64' }}
      do_release: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
      release_name: Daily master build ${{ needs.setup-vars.outputs.datetimestr }}
      release_latest: false
